.screen-header{
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal--space);
    align-items: center;
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 32px;
    font-weight:600;
}
.screen-header__icons span {
    margin-left: var(--horizontal--space);
}
.screen-header__icons{
    position: relative;
}
@keyframes rotateGear {
    100% {
    transform: rotateZ(360deg);
    }
}
.fa-gear {
    animation: rotateGear 1s linear infinite;
}